<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dettaglio Pizza: [[${pizza.nome}]]</title>
<link th:replace="~{fragments :: bootstrap_myStyle}"></link>
</head>
<body>

	<div th:replace="~{fragments :: navbar}"></div>
	<div class="container p-5">
		<div class="card mb-3" style="max-width: 540px;">
			<div class="row g-0">
				<div class="col-md-4">
					<img th:src="${pizza.getFoto()}" class="img-fluid rounded-start"
						alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">[[${pizza.nome}]]</h5>
						<p class="card-text">[[${pizza.descrizione}]]</p>
						<p class="card-text">
							<small class="text-muted">[[${pizza.prezzo}]] €</small>
						</p>
						<p class="card-text" th:each="o : ${pizza.offerte}">
												<small class="text-muted  ">[[${o.titolo}]]- dal:
												 [[${#temporals.format(o.inizioOfferta,'dd/MM/yyyy')}]]
												  al: [[${#temporals.format(o.fineOfferta,'dd/MM/yyyy')}]] </small>
							<a th:href="@{|/offerte/edit/${o.id}|}" class="btn btn-primary">Modifica Offerta <i class="fa-solid fa-pen-to-square"></i></a>
						</p>
						<p class="card-text">
							<a class="btn btn-primary "
								th:href="@{|/offerte/create?pizzaId=${pizza.id}|}">Crea
								nuova offerta speciale <i class="fa-solid fa-plus"></i></a>
						</p>
						<a th:href="@{'edit/'+${pizza.id}}" class="btn btn-primary">Modifica
							la Pizza <i class="fa-solid fa-pen-to-square"></i>
						</a> <a th:href="@{/pizze}" class="btn btn-primary">Annulla <i
							class="fa-solid fa-backward-step"></i></a>

						<form action="#"
							th:action="@{'/pizze/delete/{id}'(id=${pizza.id})}" method="post">
							<button class="btn btn-danger mt-3" type="submit"
								id="submitButton">
								Elimina la Pizza <i class="fas fa-trash-alt"> </i>
							</button>
							</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="~{fragments :: footer}"></div>
	<div th:replace="~{fragments :: script}"></div>
</body>
</html>